<p>
  Design and content by <a href="http://zeke.sikelianos.com">Zeke Sikelianos</a>.<br>

  Subscribe to the <a href="atom.xml">feed</a>
  and check me out on 
  <a href="http://cargocollective.com/zeke">cargo</a>,
  <a href="http://github.com/zeke">github</a>,
  <a href="http://twitter.com/zeke">twitter</a>,
  <a href="http://flickr.com/photos/sikelianos/sets">flickr</a>, and
  <a href="http://zeke.tumblr.com">tumblr</a>.<br>
  
<a href="https://twitter.com/zeke" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @zeke</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</p>
